In [1]:
a=[10,20,30,40,50,60]
a[0],a[-1]=a[-1],a[0]
print(a)

[60, 20, 30, 40, 50, 10]

In [11]:
a=[10,20,30,40,50]
a[2],a[3]=a[-2],a[-3]
print(a)

[10, 20, 40, 30, 50]

In [26]:
a=[1,2,3,45,24]
a.sort()
#maximum = max(a)
print(a[-2])

24

In [28]:
a=[1,2,3,45,24]
a.sort()

print(a[0])

1

In [46]:
a=[1,2,45,24]
for i in a:
    if i==3:
        print('hain isme')
        break
else:
    print('nhi hain')

nhi hain

In [47]:
a.clear()

In [48]:
a

[]

In [52]:
a=[4,5,6,7,8,9]
b=a[::-1]
print(b)

c=[4,5,6,7,8,9]
c.reverse()
print(c)

[9, 8, 7, 6, 5, 4]
[9, 8, 7, 6, 5, 4]

In [5]:
c=[4,5,6,7,8,9]
a=c.copy()
print(a)

[4, 5, 6, 7, 8, 9]

In [9]:
c=[4,5,6,7,8,9]
b=[]
for i in c:
    b.append(i)
print(b)

[4, 5, 6, 7, 8, 9]

In [11]:
a=[12,2,3,12,12,10,11,15,20]
for i in a:
    b=a.count(i)
    print(b)

3
1
1
3
3
1
1
1
1

In [25]:
a=[2,12,3,12,12,10,11,15,20,12,12]
x=int(input('Enter the number you want to check'))
# x=12 
count=0
for i in a:
    if (i==x):
        count=count+1
print(x,'has occured',count,'times')

Enter the number you want to check 12

12 has occured 5 times

In [35]:
a=[4, 5, 1, 2, 9, 7, 10, 8]
s=0
for i in a:
    s=s+i
    p=s/(len(a))
print('total sum is =>',s)
print('Average is =>',p)

total sum is => 46
Average is => 5.75

In [42]:
a=[]
s=int(input("Enter the input=>"))
print('enter',s,'elements')
q=0
for i in range(1,s+1):
    t=int(input())
    a.append(t)
for j in a :
    q=q+j
    p=q/len(a)
print('total sum is =>',q)
print('Average is =>',p)

Enter the input=> 3

enter 3 elements

 1
 2
 3

total sum is => 6
Average is => 2.0

In [19]:
a=[12,42,45,16,50,55,62]
f=[]
for i in a:
    c=i%10
    d=i//10
    e=c+d
    f.append(e)
print(f)

[3, 6, 9, 7, 5, 10, 8]

In [26]:
l=[1, 2, 3,4,5] 
m=1
b=[]
for i in l:
    m=m*i
print(m)

120

In [32]:
l1=[10, 20, 4]
l1.sort()
print(l1,l1[-2])

[4, 10, 20] 10

In [35]:
l2=[2, 7, 5, 64, 14,20,65,12,18,22]
for i in l2:
    if i%2==0:
        print(i)

2
64
14
20
12
18
22

In [36]:
l2=[2, 7, 5, 64, 14,20,65,12,18,22]
for i in l2:
    if i%2==1:
        print(i)

7
5
65

In [38]:
for i in range(0,15,2):
    print(i)

0
2
4
6
8
10
12
14

In [44]:
for i in range(0,15):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13

In [49]:
list1 = [2, 7, 5, 64, 14]
even=0
odd=0
for i in list1:
    if i%2==0:
        even=even+1
    elif i%2!=0:
        odd=odd+1
print(even)
print(odd)

3
2

In [52]:
list=[12, -7, 5, 64, -14]
for i in list1:
    if(i<0):
        print(i)

-7
-14

In [53]:
list=[12, -7, 5, 64, -14]
for i in list1:
    if(i>0):
        print(i)

12
5
64

In [56]:
for i in range(-4,5):
    if i<0:
        print(i)

-4
-3
-2
-1

In [58]:
list1 = [2, -7, 5, -64, -14]
n=0
p=0
for i in list1:
    if(i<0):
        n=n+1
    elif(i>0):
        p=p+1
print(n)
print(p)

3
2

In [24]:
# Remove multiple elements from the list


l=[12, 15, 3, 10, 20, 25, 30]
s=[]
a=int(input("No. of elements you want to remove =>"))
print('enter',a,'of elements')
for i in range(1,a+1):
    t=int(input())
    s.append(t)
print('No. you have to remove from list l =>',s)
l=[ele for ele in l if ele not in s]
print(l)`

No. of elements you want to remove => 3

enter 3 of elements

 12
 3
 20

No you have to remove from list l => [12, 3, 20]
[15, 10, 25, 30]

In [58]:
a=[(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('','') ,()]
for i in a:
    if i==():
        a.remove(i)
    # else:
    #     print(i,end=(""))
print(a)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [71]:
list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
b=[]
for i in list:
    if i==list:
        b.append(list)
        c=c+1
    else:
        print(c)

0
0
0
0
0
0
0
0
0
0
0
0
0

In [79]:
list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
b=[]
c=[]
for i in list:
    if i not in b:
        b.append(i)
    else:
        c.append(i)
c=set(c)
c=list(c)
print(c)

TypeError: 'list' object is not callable

In [62]:
class Demo:
    def show():
        print('Static show is running')
    def display(self):
        print('non static display is running')
d=Demo()
d.display()
#d.show()
Demo.show()
#Demo.dispaly()

non static display is running
Static show is running

SELF KEYWORD

self is a keyword which is mainly used to point current class object if we want to call a constructor or 
then we will pass self in first argument and if local and global both variable has same name and we want to transfer the value from local to global then we will use a self keyword inside a member function to call a global variable

In [64]:
class Emp:
    eno:int
    name:str
    def __init__(self,eno,name):
        self.eno=eno
        self.name=name
    def show(self):
        print(self.eno,self.name)
e=Emp(101,'Shubham')
e.show()

101 Shubham

Inheritance 
It is used to achieve a relationn in python we can reuse data members and member function in one class into another class with the help of inheritance. We will use following syntax..

class Deriveedclass(Base_class):
    statements
In pyhton we will use following types of inheritamce

In [2]:
for i in ' ':
    print(i)

In [3]:
list1=[10,10,10,10]

for x in list1:

    list1.remove(x)

print(list1)

[10, 10]

In [39]:
l=[12, 15, 3, 10, 20, 25, 30]
s=[]
for i in l:
    if i%2==0:
        s.append(i)
    else:
        print(i)

15
3
25