### What is Sets
Ans. Sets are used to store multiple items in a single variable. A set is a collection which is unordered, unchangeable*, and unindexed. 
Note: Set items are unchangeable, but you can remove items and add new items.

### Duplicates Not Allowed
### Sets cannot have two items with the same value.

### Syntax of set
### Ans. s = {}
        or
        s=set()

In [12]:
s = set(("apple", "banana", "cherry")) # note the double round-brackets
print(setetet)

{'apple', 'cherry', 'banana'}

In [2]:
s = {"apple", "banana", "cherry"}
print(s)

{'apple', 'cherry', 'banana'}

In [8]:
s = {"apple", "banana", "cherry", True, 1, 2}
print(s)

{'cherry', True, 2, 'apple', 'banana'}

## Get the Length of a Set.
## 
To determine how many items a set has, use the len() function.

In [9]:
s={"Shubham", "Rajeev", "Kamal", 1, 2, 3}
print(len(s))

6

In [14]:
s = {"apple", "banana", "cherry"}
print(type(s))

<class 'set'>

In [22]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
(sample_set.update(sample_list))
print(sample_set)

{'Green', 'Blue', 'Yellow', 'Orange', 'Red', 'Black'}

In [25]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)
print(set1)

{50, 20, 40, 10, 30}

In [26]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [35]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [43]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [47]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [50]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection_update(set2)
print(set1)

{10}

In [54]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set2.symmetric_difference_update(set1)
print(set2)

{20, 70, 10, 60}

In [61]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [62]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

{'Orange', 'Black', 'Yellow'}

In [63]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}

set3 = set1.union(set2)
print(set3)

{40, 10, 50, 20, '10', 60, 30}

In [77]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}
# set1.add("Brown")
# set1.add("Skyblue")
# print(set1)
# print(set1)


# set2 = set1.copy()
# print(set2)
# set2 = set(set1)
# print(set2)
# set2.update(set1)
# print(set2)
# set1=set2
# print(set2)
set1.del("Orange")
print(set1)

SyntaxError: invalid syntax (1931140009.py, line 17)

In [69]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{1, ('abc', 'xyz'), 'PYnative'}

In [70]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)

{'Green', 'Blue', 'Yellow', 'Orange', 'Red', 'Black'}

TypeError: 'set' object is not subscriptable

In [78]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}
print(aSet)

TypeError: unhashable type: 'list'